## Stroke Risk Assessment Using Machine Learning: Pre-processing and Training Data Development
Strokes are a leading cause of death and disability globally, affecting millions of people each year. Even with all the progress we've made in medicine, accurately predicting the risk of stroke remains a challenge to date. This dataset is used to develop a predictive model that accurately assesses the risk of stroke in individuals based on various features like gender, age,bmi, heart disease, and others. Each row in the data provides relevant information about the patient.

In [133]:
#Import all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os 
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

## Data Collection

In [135]:
#Loading the dataset
file_path = '/Users/shubray/Desktop/healthcare-dataset-stroke-data.csv'
stroke_data = pd.read_csv(file_path)

In [136]:
# Summary of the dataset
stroke_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [137]:
#Accessing the column names
stroke_data.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [138]:
stroke_data.stroke.value_counts()

stroke
0    4861
1     249
Name: count, dtype: int64

## Data Cleaning

In [140]:
# Summarizing the missing data count for each column
stroke_data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [141]:
# Count the number of unique values in each column
unique_value_counts = stroke_data.nunique()
unique_value_counts

id                   5110
gender                  3
age                   104
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    3979
bmi                   418
smoking_status          4
stroke                  2
dtype: int64

In [142]:
# Numerical variables
num_features = [feature for feature in stroke_data.columns if stroke_data[feature].dtypes != 'O']
print('Number of numerical variables: ', len(num_features))
print('Numerical Variables Column: ',num_features)

Number of numerical variables:  7
Numerical Variables Column:  ['id', 'age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi', 'stroke']

In [143]:
# Categorical Variables
cat_features = [feature for feature in stroke_data.columns if stroke_data[feature].dtypes == 'O']
print('Number of categorical variables: ', len(cat_features))
print('Categorical variables column name:',cat_features)

Number of categorical variables:  5
Categorical variables column name: ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

## Handling missing values

In [145]:
stroke_data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [146]:
stroke_data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [147]:
stroke_data["bmi"]=stroke_data["bmi"].fillna(stroke_data["bmi"].mean())

In [148]:
stroke_data.isnull().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

## Dropping irrevelant feature "id"

In [150]:
#Drop id column
train= stroke_data.drop(['id'],axis=1)
train

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [151]:
train.columns

Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [152]:
train_data_cat = train.select_dtypes("object")
train_data_num = train.select_dtypes("number")

In [153]:
train_data_cat.head(3)

   gender ever_married      work_type Residence_type   smoking_status
0    Male          Yes        Private          Urban  formerly smoked
1  Female          Yes  Self-employed          Rural     never smoked
2    Male          Yes        Private          Rural     never smoked

In [154]:
train_data_num.head(3)

    age  hypertension  heart_disease  avg_glucose_level        bmi  stroke
0  67.0             0              1             228.69  36.600000       1
1  61.0             0              0             202.21  28.893237       1
2  80.0             0              1             105.92  32.500000       1

## Converting categorical features into numerical

In [156]:
train_data_cata_encoded=pd.get_dummies(train_data_cat, columns=train_data_cat.columns.to_list())
train_data_cata_encoded.astype(int).head()

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0
1,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0
2,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
3,1,0,0,0,1,0,0,1,0,0,0,1,0,0,0,1
4,1,0,0,0,1,0,0,0,1,0,1,0,0,0,1,0

In [157]:
data=pd.concat([train_data_cata_encoded,train_data_num],axis=1,join="outer")
# Convert boolean columns (True/False) to 0 and 1
data = data.astype(int)
data.head()

,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,...,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
0,0,1,0,0,1,0,0,1,0,0,...,0,1,0,0,67,0,1,228,36,1
1,1,0,0,0,1,0,0,0,1,0,...,0,0,1,0,61,0,0,202,28,1
2,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,80,0,1,105,32,1
3,1,0,0,0,1,0,0,1,0,0,...,0,0,0,1,49,0,0,171,34,1
4,1,0,0,0,1,0,0,0,1,0,...,0,0,1,0,79,1,0,174,24,1

## Separating dependant and independant features

In [159]:
y = data['stroke']
x = data.drop('stroke', axis = 1)

In [160]:
print(x.shape)
print(y.shape)

(5110, 21)
(5110,)

## Scaling the data

In [162]:
sc = StandardScaler()
x = sc.fit_transform(x)

In [163]:
x

array([[-1.18950991,  1.18998977, -0.01399046, ...,  4.18503199,
         2.70243779,  0.98456631],
       [ 0.84068236, -0.84034336, -0.01399046, ..., -0.2389468 ,
         2.12811691, -0.05605292],
       [-1.18950991,  1.18998977, -0.01399046, ...,  4.18503199,
        -0.01454174,  0.46425669],
       ...,
       [ 0.84068236, -0.84034336, -0.01399046, ..., -0.2389468 ,
        -0.52259482,  0.20410188],
       [-1.18950991,  1.18998977, -0.01399046, ..., -0.2389468 ,
         1.33290339, -0.44628514],
       [ 0.84068236, -0.84034336, -0.01399046, ..., -0.2389468 ,
        -0.45632703, -0.31620773]])

## Splitting the Dataset into Training and Testing Sets
The dataset is split into training and testing sets, with 70% of the data used for training and 30% used for testing.

In [165]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=7)
X_train.shape, X_test.shape

((3577, 21), (1533, 21))